.slider {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 100px 0 100px 0;
}

.slides {
    display: flex;
    overflow: hidden;
}

.slides img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.navigation {
    text-align: center;
    margin-top: 10px;
    padding: 0 5px 0 5px;
}

.bullets {
    text-align: center;
    margin-top: 10px;
}

.bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 5px;
    cursor: pointer;
}

.bullet.active {
    background-color: black;
}

.prev,
.next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

.prev img,
.next img {
    width: 45px;
    height: 45px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 50%;
}